.box--btn--page {
    cursor: pointer;
    margin: 40px 13rem 40px 8rem;
    box-shadow: 0px 5px 5px lightgrey;
    padding: 15px 8rem 15px 2.5rem;
    border-radius: 30px;
    font-size: 1rem;
    background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
    transition: box-shadow 200ms ease-in-out;
}
.box--btn--page a {
    color: white;
}
.box--btn--page:hover {
    opacity: 0.9;
    box-shadow: 0px 10px 5px lightgrey;
}

.section--btn a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.section--btn:hover {
    opacity: 0.9;
    box-shadow: 0px 10px 5px lightgrey;
}
