//coeur page d'acceuil

.heart--acceuil {
    background-color: white;
    height: 12px;
    position: relative;
    top: 225px;
    right: 28px;
    transform: rotate(-45deg);
    position: absolute;
    width: 12px;
    cursor: pointer;
}
.heart--acceuil:before,
.heart--acceuil:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
}
.heart--acceuil:before {
    top: -8px;
    left: 0;
    
}
.heart--acceuil:after {
    left: 8px;
    top: 0;
}
.heart--acceuil:hover {
    display: inline-block;
    animation: heart 500ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
    
}
.heart--acceuil:hover::after {
    animation: heart 300ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
}
.heart--acceuil:hover::before {
    animation: heart 100ms linear forwards;
    background:         rgba(214, 108, 219, 1) 39%;
}

//coeur pages menu//

.heart {
    background-color: white;
    height: 12px;
    position: relative;
    top: 44px;
    right: 26px;
    transform: rotate(-45deg);
    position: absolute;
    width: 12px;
    cursor: pointer;
}
.heart:before,
.heart:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
}
.heart:before {
    top: -8px;
    left: 0;
}

.heart:after {
    left: 8px;
    top: 0;
}
.heart:hover {
    display: inline-block;
    animation: heart 500ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
    
}
.heart:hover::after {
    animation: heart 300ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
}
.heart:hover::before {
    animation: heart 100ms linear forwards;
    background:         rgba(214, 108, 219, 1) 39%;
}

.heart--two {
    background-color: white;
    height: 12px;
    position: relative;
    top: 44px;
    right: 24px;
    transform: rotate(-45deg);
    position: absolute;
    width: 12px;
    cursor: pointer;
}
.heart--two:before,
.heart--two:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
}
.heart--two:before {
    top: -8px;
    left: 0;
}

.heart--two:after {
    left: 8px;
    top: 0;
}
.heart--two:hover {
    display: inline-block;
    animation: heart 500ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
    
}
.heart--two:hover::after {
    animation: heart 300ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
}
.heart--two:hover::before {
    animation: heart 100ms linear forwards;
    background:         rgba(214, 108, 219, 1) 39%;
}

.heart--three {
    background-color: white;
    height: 12px;
    position: relative;
    top: 44px;
    right: 40px;
    transform: rotate(-45deg);
    position: absolute;
    width: 12px;
    cursor: pointer;
}
.heart--three:before,
.heart--three:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
}
.heart--three:before {
    top: -8px;
    left: 0;
}

.heart--three:after {
    left: 8px;
    top: 0;
}
.heart--three:hover {
    display: inline-block;
    animation: heart 500ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
    
}
.heart--three:hover::after {
    animation: heart 300ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
}
.heart--three:hover::before {
    animation: heart 100ms linear forwards;
    background:         rgba(214, 108, 219, 1) 39%;
}

.heart--four {
    background-color: white;
    height: 12px;
    position: relative;
    top: 44px;
    right: 28px;
    transform: rotate(-45deg);
    position: absolute;
    width: 12px;
    cursor: pointer;
}
.heart--four:before,
.heart--four:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
}
.heart--four:before {
    top: -8px;
    left: 0;
}

.heart--four:after {
    left: 8px;
    top: 0;
}
.heart--four:hover {
    display: inline-block;
    animation: heart 500ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
    
}
.heart--four:hover::after {
    animation: heart 300ms linear forwards;
    background: linear-gradient(
        173deg,
        rgba(255, 121, 218, 1) 0%,
        rgba(214, 108, 219, 1) 39%,
        rgba(171, 94, 220, 1) 85%,
        rgba(155, 89, 220, 1) 100%
    );
}
.heart--four:hover::before {
    animation: heart 100ms linear forwards;
    background:         rgba(214, 108, 219, 1) 39%;
}
