

@media screen and (min-width: 700px) and (max-width: 900px) {
    .titre--fonctionnement {
        text-align: center;
    }

    .resto {
        text-align: center;
    }

    .box--footer {
        display: flex;
        justify-content: space-around;
    }

    .footer--titre {
        margin-left: 18rem;
    }
}

@media screen and (min-width: 900px) {

    .box--fonctionnement {
        display: flex;
    }

    .carte {
        width: 100%;
    }

    .box--plat {
        display: flex;
    }

    .figcaption--plat {
        height:80px;
    }

    .titre--fonctionnement {
        text-align: center;
    }

    .resto {
        text-align: center;
    }

    #box--position{
        justify-content: space-around;
    }

    body {
        background: rgb(255,171,232);
        background: linear-gradient(90deg, rgba(255,171,232,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 83%, rgba(213,165,244,1) 99%);
    }

    body .Fonctionnement {
        background: rgb(255,171,232);
        background: linear-gradient(90deg, rgba(255,171,232,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 83%, rgba(213,165,244,1) 99%);
    }

    .box--footer {
        display: flex;
        justify-content: space-around;
    }

    .footer--titre {
        margin-left: 44%;
    }
}
