@media screen and (max-width: 374px) {
    header{
        margin-left: 30px;
    }
    .section--global--page {
        width: 375px;
    }

    .section--global {
        .section--second--titre {
            width: auto;
        }
    }

        .Fonctionnement--box{
            width: 210px;
        }

    #Fonctionnement
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #box--position .lien--resto .figure--resto {
        width: 270px;

    }

    #box--position .lien--resto .figure--resto img{
        width: 270px;
    }
}

@media screen and (min-width: 376px) {
    .carte {
        background: white;
    }
    .carte img {
        border-radius: 60%;height: 350px;
    }
    .menu--titre {
        border-radius: 0;
        margin-top: 0px;
        position: relative;
        background: white;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #box--position{
        justify-content: space-between;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #box--position{
        justify-content: space-around;
    }

    body {
        background: rgb(255,171,232);
        background: linear-gradient(90deg, rgba(255,171,232,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 83%, rgba(213,165,244,1) 99%);
    }

    body .Fonctionnement {
        background: rgb(255,171,232);
        background: linear-gradient(90deg, rgba(255,171,232,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 83%, rgba(213,165,244,1) 99%);
    }
}
