//autres menu//

.en-tete {
    display: inline;
}
.en-tete .fa-arrow-left {
    font-size: 1.2rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.carte {
    width: 375px;
    margin: auto;
    background: #f9f9f9;
    padding-bottom: 20px;
}

.carte img {
    width: 375px;
    object-fit: cover;
    height: 300px;
}

.menu--titre {
    display: flex;
    border-radius: 30px 30px 0px 0px;
    margin-top: -50px;
    position: sticky;
    background: #f9f9f9;
}

.nom--resto{
    font-size: 1.7rem;
    margin: 30px auto;
    font-family: "Shrikhand", sans-serif;
}

.conteneur--entrees {
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 3px;
    font-weight: 100;
    font-size: 15px;
    width: 40px;
    margin-left: 15px;
    background: #f9f9f9;
}

.entrees--plat {
    background: white;
    display: flex;
    justify-content: space-between;
    margin: 1rem ;
    padding:1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 4px lightgrey;
    overflow: hidden;
    border: 0px solid white;
    cursor: pointer;
    min-width: 310px;
    max-width: 340px;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);


.plat--titre {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }
}

.plat--soustitre {
    font-weight: 100;
    font-size: 0.9rem;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.titre-soustitre {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.plat--prix {
    font-weight: 700;
    align-self: flex-end;
    margin: 0;
}

.figcaption--plat {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.figcaption--plat:hover {
    margin-right: -1rem;
}

.validation--logo {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.validation--logo i {
    color: #99e2d0;
}
.validation--logo:hover {
    transform: rotate(0);
}


